langchain
langchain-community
langchain-core
openai
tiktoken
python-dotenv
pydantic
faiss-cpu
chromadb
huggingface_hub
transformers
sentence-transformers
langchain-google-genai
langchain-tavily


# cd LANGCHAIN
# pip install -r requirements.txt


git add .
git commit -m "Update requirements.txt with necessary dependencies for LangChain project"
git push origin main